
<mat-card-content class="home" >
    <mat-card>
        <mat-card-title class="title">
            Bem Vindo(a)!
        </mat-card-title>
        <mat-card-subtitle class="">
            Sistema de Gestão e Cadastro de Produtos, baseado em Angular 11
        </mat-card-subtitle>
    </mat-card>
</mat-card-content>

<div class="container">
    <mat-card-content class="home" >
        <mat-card>
           <i class="material-icons md-48 primaryColor">storefront</i>
        </mat-card>
    </mat-card-content>
    
    <mat-card-content class="home" >
        <mat-card>
           <i class="material-icons md-48 successColor">local_mall</i>
        </mat-card>
    </mat-card-content>
    
    <mat-card-content class="home" >
        <mat-card>
           <span class="material-icons md-48 warningColor">content_paste</span>
        </mat-card>
    </mat-card-content>
</div>


