button{
    margin:0px 3px 0px 3px;
}
.mat-margin{
    margin-bottom: 5px;
}


.input-with{
    width: 500px;
    margin: 10px;
}

.mat-title{
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    padding: 30px 10px ;
} 